.message-icon, .skill-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
}

.message-space{
    height: 10rem!important;
}

.profile{
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}

.profile-img{
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 576px){
    .profile {
        height: 60vw;
        width: 60vw;
    }

    .profile-img{
        height: 65vw;
    }
}

@media (min-width: 768px){
    .profile {
        height: 50vw;
        width: 50vw;
    }

    .profile-img{
        height: 55vw;
    }
}

@media (min-width: 992px){
    .profile {
        height: 40vw;
        width: 40vw;
    }

    .profile-img{
        height: 45vw;
    }
}

@media (min-width: 1200px){
    .profile {
        height: 35vw;
        width: 35vw;
    }

    .profile-img{
        height: 40vw;
    }
}




.resume-gradient, .skill-gradient, .language-gradient, .projects-gradient, .online-gradient, .text-gradient{
    background : linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alternate-text{
    color: #e21e80;
}

.alternate-background{
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}